input{
    padding: 1em;
    margin: 1em;
    display: block;
    width: 30vw;
    border-radius: 5px;
    border: none;
}

.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
}