button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 5px;

    display: inline;
    margin: 8px 8px 8px;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;

    transform: translateY(2px);
}