*{
    margin: 0;
    padding: 0;
}

.thumbnail-container{
    width: 30vw;
    height: 260px;
    margin: 10px;
}

.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.textContainer{
   margin-left: 32px;
}

.image{
    border-radius: 5%;
}

