*{
    margin: 0;
    padding: 0;
}

.container{
    width: 30vw;
    height: 300px;
    margin: 10px;
}

.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.textContainer{
   text-align: center;
}

