.dark {
    background-color: gray;
    color: white;
}

.container {
    width: 22%;
    margin: 0.5em;
    border: 2px solid white;
    padding: 0.5em;
    border-radius: 5px;
}

.pic img {
    width: 100%;
    border-radius: 5px;
}

.title {
    font-weight: bold;
    margin-bottom: 0.4em;
    color: white
}

.channel,
.views {
    font-size: small;
    color: #ccc;
    margin-bottom: 0.2em;
}

.views span {
    padding: 0 0.25em;
}