*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.addNewVideos{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 0.5em;
  padding: 0.5em;
}
